/logs
/i5
/target
.classpath
.project
.settings
*temp.i5
/lib
/properties
/index/
/code
/I5Batch-no-indexing.sh
/saxon-validation.sh
/local-properties/
/dependency-reduced-pom.xml
/data
.swp
.factorypath